<p *ngIf="!authDataService.isLogged()">MAAA SAI DAI HOOOME!</p>

<p *ngIf="authDataService.isLogged()">Welcome {{model.userLogged?.user?.name}}! :)</p>

<div class="btn-toolbar justify-content-between" role="toolbar">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" (click)="showList = !showList">{{showList ? 'Hide list' : 'Show list'}}</button>

    <button class="btn btn-info" (click)="showStandard()" ngbTooltip="Will disappear in 5s">Standard toast</button>&nbsp;
  </div>

  <!--<div *ngIf="isAuthenticated" class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon2">@</div>
    </div>
    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
  </div>-->
</div>
<p></p>
<p *ngIf="authDataService.isLogged()">Users ({{users?.length}})</p>
<div *ngIf="showList">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">
          <button class="btn-primary btn" (click)="onEdit(user)">Edit</button>
          <button class="btn-danger btn" (click)="onDelete(user)">Delete</button>
        </th>
        <th scope="row">{{user.id}}</th>
        <td scope="row">{{user.name}}</td>
        <td scope="row">{{user.email}}</td>
      </tr>
    </tbody>
  </table>
</div>


