<div class="modal-header">
  <h4 *ngIf="isAddModal()" class="modal-title"><strong>{{action}}</strong> user</h4>
  <h4 *ngIf="isEditModal()" class="modal-title"><strong>{{action}}</strong> user</h4>
  <h4 *ngIf="isDeleteModal()" class="modal-title"><strong>{{action}}</strong> user</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p *ngIf="isDeleteModal()">Would you really like to delete <strong>{{model.name}}</strong>?</p>

  <div *ngIf="isEditModal() || isAddModal()">
    <p *ngIf="isEditModal()">Would you really like to edit <strong>{{model.name}}</strong>?</p>
    <form>
      <div class="mb-3 w-50">
        <label for="exampleInputName" class="form-label">Name:</label>
        <input type="text" class="form-control {{model.nameError?.errorTarget}}" id="exampleInputName" aria-describedby="emailHelp" placeholder="Name" [(ngModel)]="model.name" name="name">
        <div class="invalid-feedback">{{model.nameError?.errorDescription}}</div>
      </div>
      <div class="mb-3 w-50">
        <label for="exampleInputEmail" class="form-label">Email:</label>
        <input type="email" class="form-control {{model.emailError?.errorTarget}}" id="exampleInputEmail" placeholder="Email" [(ngModel)]="model.email" name="email">
        <div class="invalid-feedback">{{model.emailError?.errorDescription}}</div>
      </div>
      <div class="mb-3 w-50">
        <label for="exampleInputPassword" class="form-label">Password:</label>
        <input type="password" class="form-control {{model.passwordError?.errorTarget}}" id="exampleInputPassword" placeholder="Password" [(ngModel)]="model.password" name="password">
        <div class="invalid-feedback">{{model.passwordError?.errorDescription}}</div>
      </div>
      <div class="mb-3 w-50">
        <label for="exampleInputConfirmPassword" class="form-label">Confirm Password:</label>
        <input type="password" class="form-control {{model.confirmPasswordError?.errorTarget}}" id="exampleInputConfirmPassword" placeholder="Confirm Password" [(ngModel)]="model.confirmPassword">
        <div class="invalid-feedback">{{model.confirmPasswordError?.errorDescription}}</div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button *ngIf="isAddModal()" type="button" class="btn btn-info" (click)="passBack(model)">Add</button>
  <button *ngIf="isEditModal()" type="button" class="btn btn-info" (click)="passBack(model)">Save</button>
  <button *ngIf="isDeleteModal()" type="button" class="btn btn-danger" (click)="passBack(model)">Delete</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
